/*---ADMIN---*/

/*--ADMIN PANEL DAMERO--*/
.aadmin-panel{
  width:70%;
  margin-bottom:0.938rem;
  position:relative;
}

.admin-iconos{
  text-align:center;
}

.aadmin-iconos:hover{
  color:#00a927;
}


/*   .admin{
    margin-top: 1.25rem;
  } */

  /* .aadmin{
    margin-top: 5rem !important;
  }
 */

 ul{
  text-decoration: none;
}

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }
  
  /*---formularios---*/
  textarea::placeholder{
    font-style: italic;
    font-size: .9em;
  }
  
  .links{
    text-decoration: none;
  }

  .yo-image{
    width: 40%;;
  }

  a, a:hover{
    text-decoration: none;
  }
  
  /*--botones formularios--*/
  .fa-plus:hover{
    color:#f71aa6;
  }
  .fa-pencil:hover{
    color:#2c9011;
  }
  .fa-trash-can-arrow-up:hover{
    color:#ab0c0c;
  }
  .fa-xmark:hover{
    color:#f1ee06;
  }
  .fa-solid.fa-chevron-left:hover{
    color:#54b4f5
  }
  /*--------------------------*/