<app-navbaradmin></app-navbaradmin>

<!--Admin damero 3x3-->

<section id="aadmin" class="aadmin center justify-content-center">
<!--botones que abren los modales-->
  <div class="container aadmin-panel text-center">

<!-------grupo 1-->

    <div class="row row-cols-3 row-cols-xs-2 ">
      <!--PORTADA-->
       <div class="col"> 
        <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalPortada" title="Portada">
          <i class="fa-solid fa-panorama fa-2xl aadmin-iconos"></i></button>
        </div>
       </div>

      <!--ABOUT ME-->
       <div class="col">        
        <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalAboutme" title="About me">
          <i class="fa-solid fa-address-card fa-2xl aadmin-iconos"></i></button>
        </div>
      </div>

      <!--REDES-->
      <div class="col">
        <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalRedes" title="Redes">
          <i class="fa-solid fa-network-wired fa-2xl aadmin-iconos"></i></button>
        </div>
      </div>
<!--  </div> -->

<!-------grupo 2-->

   <!--  <div class="row "> -->
      <!--TEACHING-->
      <div class="col">
        <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalTeaching" title="Teaching">
          <i class="fa-solid fa-school-flag fa-2xl aadmin-iconos"></i></button>
        </div>
      </div>

      <!--DESIGN-->
      <div class="col">
        <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalDesign" title="Design">
          <i class="fa-solid fa-icons fa-2xl aadmin-iconos"></i></button>
        </div>
      </div>

      <!--EDUCATION-->
      <div class="col">
        <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalEducation" title="Education">
          <i class="fa-solid fa-graduation-cap fa-2xl aadmin-iconos"></i></button>
        </div>
      </div>
   <!--  </div> -->


<!-------grupo 3-->

   <!--  <div class="row "> -->
      <!--SKILLS-->
      <div class="col">
        <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalSkills" title="Skills">
          <i class="fa-solid fa-laptop-code fa-2xl aadmin-iconos"></i></button>
        </div>
      </div>

      <!--PROJECT-->
      <div class="col">
        <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalProjects" title="Projects">
          <i class="fa-solid fa-lightbulb fa-2xl aadmin-iconos"></i></button>
        </div>
      </div>

      <!--CONTACT ME  a implementarse más adelante / queda la col para mantener la estructura de la grilla-->
      <div class="col">
        <div class="p-2"><button type="button" class="btn list-group-item btn-lg p-5" data-bs-toggle="modal" data-bs-target="#modalContactme" title="A implementarse en un posterior proceso">
          <i class="fa-solid fa-comment fa-2xl aadmin-iconos"></i></button>
        </div>
      </div>

    </div>

  </div>

      <!--<app-footer></app-footer>-->
</section>



<!--MODALES-->
<!--REDES -->
<app-modalredes></app-modalredes>

<!--PORTADA-->
<app-modalportada></app-modalportada>

<!--ABOUT ME-->
<app-modalaboutme></app-modalaboutme>

<!--TEACHING-->
<app-modalteaching></app-modalteaching>

<!--DESIGN-->
<app-modaldesign></app-modaldesign>

<!--EDUCATION-->
<app-modaleducation></app-modaleducation>

<!--SKILLS-->
<app-modalskills></app-modalskills>

<!--PROJECTS-->
<app-modalprojects></app-modalprojects>

<!--CONTACT ME-->
<app-modalcontactme></app-modalcontactme>