<!--Modal SKILLS-->
<div class="modal 'fade" id="modalProjects" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
  <!----------------------------------->
  <div class="modal-header">
    <h5 class="modal-title" id="modalDesign">Edit a Project</h5>
  </div>

          <form [formGroup]="project_form" (ngSubmit)="onSubmit($event)" id="project_form">

            <div class="modal-body">

              <div class="mb-3">
                <label for="proyId" class="form-label col-12"><i>Elegir proyecto</i></label>
                <select formControlName="proyId" id="proyId" class="mb-3">
                  <option selected>Seleccionar proyecto</option>
                  <option *ngFor="let id of proyecto">{{id.proyecto}}</option>
                </select>
              </div>
            

                  <div class="mb-3">
                    <label for="projectImagen" class="form-label"><i>Imagen</i></label>
                    <input type="file" class="form-control" id="projectImagen" placeholder="imagen" class="col-12" [class.border-danger]="ImagenValid" >
                  </div>
                  <div *ngIf="Imagen?.errors  && Imagen?.touched" class="mb-4">    
                    <small *ngIf="Imagen?.hasError('required')" class="error text-small"><i>Insertar imagen.</i></small>
                  </div>

                  <div class="mb-3">
                    <label for="projectTitulo" class="form-label"><i>Proyecto</i></label>
                    <input type="text" class="form-control" id="projectTitulo" class="col-12" [class.border-danger]="TituloValid" >
                  </div>
                  <div *ngIf="Titulo?.errors  && Titulo?.touched" class="mb-4">    
                    <small *ngIf="Titulo?.hasError('required')" class="error text-small"><i>Título del proyecto.</i></small>
                    <small *ngIf="Titulo?.hasError('minlength')" class="error text-small"><i>Debe tener un mínimo de 6 caracteres.</i></small>
                  </div>

                  <div class="mb-3">
                    <label for="projectDescripcion" class="form-label"><i>Descripción</i></label>
                    <textarea class="text w-100" id="projectDescripcion" style="overflow:auto;" rows="3" [class.border-danger]="DescripValid" ></textarea>
                  </div>
                  <div *ngIf="Descrip?.errors  && Descrip?.touched" class="mb-4">    
                    <small *ngIf="Descrip?.hasError('required')" class="error text-small"><i>Escribir descripción.</i></small>
                    <small *ngIf="Descrip?.hasError('minlength')" class="error text-small"><i>Debe tener un mínimo de 6 caracteres.</i></small>
                  </div>

                  <div class="mb-3">
                    <label for="projectDemo" class="form-label"><i>Demo</i></label>
                    <input type="text" class="form-control" id="projectDemo" placeholder="URL live demo" class="col-12" [class.border-danger]="DemoValid" >
                  </div>
                  <div *ngIf="Demo?.errors  && Demo?.touched" class="mb-4">    
                    <small *ngIf="Demo?.hasError('required')" class="error text-small"><i>Url demo.</i></small>
                  </div>

                  <div class="mb-3">
                    <label for="projectRepo" class="form-label"><i>Repositorio</i></label>
                    <input type="text" class="form-control" id="projectRepo" placeholder="URL repositorio" class="col-12" [class.border-danger]="RepoValid" >
                  </div>
                  <div *ngIf="Repo?.errors  && Repo?.touched" class="mb-4">    
                    <small *ngIf="Repo?.hasError('required')" class="error text-small"><i>Url repositorio.</i></small>
                  </div>
            </div>
            <!--cierre body del modal-->
            <div class="text-center">
              <button type="button" class="btn"><i class="fa-solid fa-plus"></i></button>
              <button type="button" class="btn"><i class="fa-solid fa-pencil"></i></button>
              <button type="button" class="btn"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
              <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
              <button type="button" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="onReset()"><i class="fa-solid fa-circle-xmark"></i></button>
            </div>

          </form>

        </div>
      </div>

    </div>
  
  
  