<!------- Inicio SKILLS ------->
<!-- Modal que trae la info a editar-->
<div class="modal fade" id="modalSkills" aria-hidden="true" aria-labelledby="modalSkills" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalSkills">Skills</h1> 
        <div class="text-end">
          <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-plus"></i></button>
          <button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="reset()"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
      <!-- Modal que muestra info -->
      <div class="modal-body">
          <div class="container mb-3" >
            <h5 class="titulo-centrado mb-3">FrontEnd</h5>
              <li class="list-group-item mt-4" *ngFor="let skill of skills" [ngSwitch]="skill.skill_tipo">
                <div *ngSwitchCase="'FrontEnd'">
                      <div class="col-12">
                        <span><i [ngClass]="skill.icono"></i> {{skill.skill}}</span>
                        <div class="progress grosor mb-2" >                              
                          <div  class="progress-bar-frontend" role="progressbar"  aria-label="Basic Example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" [style.width.%]="skill.progreso">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 text-end">
                        <!-- <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-plus"></i></button> -->
                        <button class="btn" (click)="skill.id? findSkill(skill.id): null" data-bs-toggle="modal"data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn" (click)="skill.id? deleteSkill(skill.id): null"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                        <!--<button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="limpiar()"><i class="fa-solid fa-xmark"></i></button>-->
                      </div>
                  <hr>
                </div>
              </li>
          </div>

          <div class="container mb-3" >
            <h5 class="titulo-centrado mb-3">BackEnd</h5>
              <li class="list-group-item mt-4" *ngFor="let skill of skills" [ngSwitch]="skill.skill_tipo">
                <div *ngSwitchCase="'BackEnd'">
                      <div class="col-12">
                        <span><i [ngClass]="skill.icono"></i> {{skill.skill}}</span>
                        <div class="progress grosor mb-2" >                              
                          <div  class="progress-bar-backend" role="progressbar"  aria-label="Basic Example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" [style.width.%]="skill.progreso">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 text-end">
                        <!-- <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-plus"></i></button> -->
                        <button class="btn" (click)="skill.id? findSkill(skill.id): null" data-bs-toggle="modal"data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn" (click)="skill.id? deleteSkill(skill.id): null"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                        <!--<button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="limpiar()"><i class="fa-solid fa-xmark"></i></button>-->
                      </div>
                  <hr>
                </div>
              </li>
          </div>

          <div class="container mb-3" >
            <h5 class="titulo-centrado mb-3">Design</h5>
              <li class="list-group-item mt-4" *ngFor="let skill of skills" [ngSwitch]="skill.skill_tipo">
                <div *ngSwitchCase="'Design'">
                      <div class="col-12">
                        <span><i [ngClass]="skill.icono"></i> {{skill.skill}}</span>
                        <div class="progress grosor mb-2" >                              
                          <div  class="progress-bar-design" role="progressbar"  aria-label="Basic Example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" [style.width.%]="skill.progreso">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 text-end">
                        <!-- <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-plus"></i></button> -->
                        <button class="btn" (click)="skill.id? findSkill(skill.id): null" data-bs-toggle="modal"data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn" (click)="skill.id? deleteSkill(skill.id): null"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                        <!--<button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="limpiar()"><i class="fa-solid fa-xmark"></i></button>-->
                      </div>
                  <hr>
                </div>
              </li>
          </div> 

          <div class="container mb-3" >
            <h5 class="titulo-centrado mb-3">Language</h5>
              <li class="list-group-item mt-4" *ngFor="let skill of skills" [ngSwitch]="skill.skill_tipo">
                <div *ngSwitchCase="'Language'">
                      <div class="col-12">
                        <span><i [ngClass]="skill.icono"></i> {{skill.skill}}</span>
                        <div class="progress grosor mb-2" >                              
                          <div  class="progress-bar-language" role="progressbar"  aria-label="Basic Example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" [style.width.%]="skill.progreso">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 text-end">
                        <!-- <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-plus"></i></button> -->
                        <button class="btn" (click)="skill.id? findSkill(skill.id): null" data-bs-toggle="modal"data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn" (click)="skill.id? deleteSkill(skill.id): null"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                        <!--<button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="limpiar()"><i class="fa-solid fa-xmark"></i></button>-->
                      </div>
                  <hr>
                </div>
              </li>
          </div> 

          <div class="container mb-3" >
            <h5 class="titulo-centrado mb-3">Soft Skills</h5>
              <li class="list-group-item mt-4" *ngFor="let skill of skills" [ngSwitch]="skill.skill_tipo">
                <div *ngSwitchCase="'SoftSkills'">
                      <div class="col-12">
                        <span><i [ngClass]="skill.icono"></i> {{skill.skill}}</span>
                        <div class="progress grosor mb-2" >                              
                          <div  class="progress-bar-soft" role="progressbar"  aria-label="Basic Example" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" [style.width.%]="skill.progreso">
                          </div>
                        </div>
                      </div>
                      <div class="col-12 text-end">
                        <!-- <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-plus"></i></button> -->
                        <button class="btn" (click)="skill.id? findSkill(skill.id): null" data-bs-toggle="modal"data-bs-target="#modalSkillsCrud"><i class="fa-solid fa-pencil"></i></button>
                        <button class="btn" (click)="skill.id? deleteSkill(skill.id): null"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                        <!--<button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="limpiar()"><i class="fa-solid fa-xmark"></i></button>-->
                      </div>
                  <hr>
                </div>
              </li>
          </div> 

      </div>
    </div>
  </div>
</div>




<!-- Modal SKILLS -->
<div class="modal 'fade" id="modalSkillsCrud" tabindex="-1" aria-labelledby="modalSkillsCrudLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">    <!--modal-dialog modal-lg-->
    <div class="modal-content">
  <!----------------------------------->
      <div class="modal-header">
        <h5 class="modal-title" id="modalSkillsCrud">Add / Edit a Project</h5> 
        <button type="btn" class="btn" (click)="reset()" data-bs-dismiss="modal"  aria-label="Close" ><i class="fa-solid fa-xmark"></i></button>
      </div>

        <div class="modal-body">
          <form [formGroup]="skills_form">

          <!-- ID de cada proyecto-->
          <!-- <div class="" *ngIf="!!project_form.value.id">
            <div class="">
              <span class="" id="basic-addon1">ID:</span>
            </div>
            <input class="form-control" type="text" readonly formControlName="id" id="id">
          </div> -->

            <input type="hidden" name="" id="id">

              <div class="mb-3">
                <label for="skill_tipo" class="form-label col-12"><b>TIPO DE HABILIDAD</b></label>
                <input type="text" formControlName="skill_tipo" id="skill_tipo" name="" placeholder="FrontEnd, BackEnd, Design, Language, SoftSkills"
                [ngClass]="{'is-invalid':Skill_tipo?.errors && Skill_tipo?.touched,'is-valid':!Skill_tipo?.errors && Skill_tipo?.touched}" class="form-control col-12" aria-describedby="Skill_tipoHelp">
                <div *ngIf="Skill_tipo?.errors  && Skill_tipo?.touched" class="mb-4">
                  <small *ngIf="Skill_tipo?.hasError('required')" class="error text-small"><i>Tipo de habilidad requerida.</i></small>
                </div>
              </div>

              <div class="mb-3">
                <label for="skill" class="form-label col-12"><b>HABILIDAD</b></label>
                <input type="text" formControlName="skill" id="skill" name="" placeholder="HTML, Angular, otros..."
                [ngClass]="{'is-invalid':Skill?.errors && Skill?.touched,'is-valid':!Skill?.errors && Skill?.touched}" class="form-control col-12" aria-describedby="SkillHelp">
                <div *ngIf="Skill?.errors  && Skill?.touched" class="mb-4">
                  <small *ngIf="Skill?.hasError('required')" class="error text-small"><i>Habilidad requerida.</i></small>
                  <small *ngIf="Skill?.hasError('minlength')" class="error text-small"><i>Debe tener un mínimo de 2 caracteres.</i></small>
                </div>
              </div>

              <div class="mb-3">
                <label for="icono" class="form-label col-12"><b>ICONO</b></label>
                <input type="text" formControlName="icono" id="icono" name=""
                [ngClass]="{'is-invalid':Icono?.errors && Icono?.touched,'is-valid':!Icono?.errors && Icono?.touched}" class="form-control col-12" aria-describedby="IconoHelp">
              </div>



              <div class="mb-3">
                <label for="progreso" class="form-label col-12"><b>PROGRESO</b></label>
                <input type="text" formControlName="progreso" id="progreso" name="" placeholder="75, 85, 100..."
                [ngClass]="{'is-invalid':Progreso?.errors && Progreso?.touched,'is-valid':!Progreso?.errors && Progreso?.touched}" class="form-control col-12" aria-describedby="ProgresoHelp">
                <div *ngIf="Progreso?.errors  && Progreso?.touched" class="mb-4">
                  <small *ngIf="Progreso?.hasError('required')" class="error text-small"><i>Porcentaje requerido.</i></small>
                  <small *ngIf="Progreso?.hasError('minlength')" class="error text-small"><i>Debe tener una valoración mínimo de 0.</i></small>
                  <small *ngIf="Progreso?.hasError('maxlength')" class="error text-small"><i>Debe tener una valoración mínimo de 0áxima de 100.</i></small>
                </div>
              </div>

              <div class="mb-3">
                <label for="color" class="form-label col-12"><b>COLOR PARA LA HABILIDAD</b></label>
                <input type="text" formControlName="color" id="color" name="" placeholder="progress-bar-frontend, progress-bar-design, progress-bar-soft..."
                [ngClass]="{'is-invalid':Color?.errors && Color?.touched,'is-valid':!Color?.errors && Color?.touched}" class="form-control col-12" aria-describedby="ColorHelp">
                <div *ngIf="Color?.errors  && Color?.touched" class="mb-4">
                  <small *ngIf="Color?.hasError('required')" class="error text-small"><i>Color para la habilidad requerido.</i></small>
                </div>
              </div>

              <div class="text-end">           
                <!--<button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>-->
                <button type="submit" class="btn" data-bs-dismiss="modal" (click)="saveSkill()" [disabled]="skills_form.invalid" style="border:none"><i class="fa-solid fa-circle-check"></i></button>
                <!--<button type="btn" class="btn" (click)="reset()" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>-->
                <button class="btn" (click)="back()" data-bs-toggle="modal" data-bs-target="#modalSkills"><i class="fa-solid fa-chevron-left"></i></button>
              </div>

          </form>
        </div>
    </div>
  </div>
</div>
  
 


                
