<!--Modal SKILLS EDIT-->
<div class="modal 'fade" id="modalSkills" tabindex="-1" aria-labelledby="modalSkills" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
  <!----------------------------------->
      <div class="modal-header">
        <h5 class="modal-title" id="modalSkills">Edit Skills</h5>
      </div>
  
              <form [formGroup]="skills_form" (ngSubmit)="onSubmit($event)">

                <div class="modal-body">
                    
                    <div class="mb-3">
                      <label for="tipoSkills" class="form-label col-12"><i>Habilidad</i></label>
                      <select formControlName="skillId" id="skillId" class="mb-3" [class.border-danger]="TipoValid">
                        <option selected>Seleccionar tipo de habilidad</option>
                        <option *ngFor="let id of tipo">{{id.tipo}}</option>
                      </select>
                    </div>
                    <div *ngIf="Tipo?.errors  && Tipo?.touched" class="mb-4">    
                      <small *ngIf="Tipo?.hasError('required')" class="error text-small"><i>Tipo de habilidad requerida.</i></small>
                    </div>

                    <div class="mb-3">
                      <label for="iconoSkills" class="form-label col-12"><i>Icono habilidad</i></label>                     
                      <input type="text" formControlName="iconoSkills" id="iconoSkills" >
                    </div>
                    <!-- <div *ngIf="Nombre?.errors  && Nombre?.touched" class="mb-4">    
                      <small *ngIf="Nombre?.hasError('required')" class="error text-small"><i>Nombre de habilidad requerido.</i></small>
                    </div> -->

                    <div class="mb-3">
                      <label for="nombreSkills" class="form-label"><i>Nombre habilidad</i></label>                     
                      <input type="text" formControlName="nombreSkills" id="nombrekills" class="col-12" [class.border-danger]="NombreValid">
                    </div>
                    <div *ngIf="Nombre?.errors  && Nombre?.touched" class="mb-4">    
                      <small *ngIf="Nombre?.hasError('required')" class="error text-small"><i>Nombre de habilidad requerido.</i></small>
                    </div>

                    <div class="mb-3">
                      <label for="colorSkills" formControlName="colorSkills" class="col-12"><i>Color de la barra</i></label>
                      <select formControlName="colorId" id="colorId" class="mb-3" [class.border-danger]="ColorValid">
                        <option selected>Seleccionar color de la habilidad</option>
                        <option *ngFor="let id of color">{{id.color}}</option>
                      </select>
                    </div>
                    <div *ngIf="Color?.errors  && Color?.touched" class="mb-4">    
                      <small *ngIf="Color?.hasError('required')" class="error text-small"><i>Color de habilidad requerida.</i></small>
                    </div>

                    <div class="mb-3">
                      <label for="porcentajeSkills" class="form-label" ><i>Porcentaje</i></label>
                      <input type="text" formControlName="porcentajeSkills" id="porcentajeSkills"  class="col-12" [class.border-danger]="PorcentValid">
                    </div>
                    <div *ngIf="Porcent?.errors  && Porcent?.touched" class="mb-4">
                      <small *ngIf="Porcent?.hasError('required')" class="error text-small"><i>Lugar de trabajo requerido.</i></small>
                      <small *ngIf="Porcent?.hasError('min')" class="error text-small"><i>El porcentaje mínimo es 0.</i></small>
                      <small *ngIf="Porcent?.hasError('max')" class="error text-small"><i>El porcentaje mínimo es 100.</i></small>
                    </div>


                </div>
                <!--cierre body del modal-->
                <div class="text-center">
                  <button type="button" class="btn" data-bs-target="#modalSkillsAdd" data-bs-toggle="modal"><i class="fa-solid fa-plus"></i></button>
                  <button type="button" class="btn" data-bs-target="#modalSkillsDelete" data-bs-toggle="modal"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                  <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                  <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" (click)="onReset()"><i class="fa-solid fa-xmark"></i></button>
                </div>
              </form>

    </div>
  </div>
</div>
  
  
<!--Modal SKILLS ADD-->
<div class="modal 'fade" id="modalSkillsAdd" tabindex="-1" aria-labelledby="modalSkillsAdd" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
  <!----------------------------------->
      <div class="modal-header">
        <h5 class="modal-title" id="modalSkillsAdd">Add Skills</h5>
      </div>
  
              <form [formGroup]="skills_form" (ngSubmit)="onSubmit($event)" id="skills_formAdd">

                <div class="modal-body">
                    
                    <div class="mb-3">
                      <label for="tipoSkills" class="form-label col-12"><i>Habilidad</i></label>
                      <select formControlName="skillId" id="skillId" class="mb-3" [class.border-danger]="TipoValid">
                        <option selected>Seleccionar tipo de habilidad</option>
                        <option *ngFor="let id of tipo">{{id.tipo}}</option>
                      </select>
                    </div>
                    <div *ngIf="Tipo?.errors  && Tipo?.touched" class="mb-4">    
                      <small *ngIf="Tipo?.hasError('required')" class="error text-small"><i>Tipo de habilidad requerida.</i></small>
                    </div>

                    <div class="mb-3">
                      <label for="iconoSkills" class="form-label col-12"><i>Icono habilidad</i></label>                     
                      <input type="text" formControlName="iconoSkills" id="iconoSkills" >
                    </div>
                    <!-- <div *ngIf="Nombre?.errors  && Nombre?.touched" class="mb-4">    
                      <small *ngIf="Nombre?.hasError('required')" class="error text-small"><i>Nombre de habilidad requerido.</i></small>
                    </div> -->

                    <div class="mb-3">
                      <label for="nombreSkills" class="form-label"><i>Nombre habilidad</i></label>                     
                      <input type="text" formControlName="nombreSkills" id="nombrekills" class="col-12" [class.border-danger]="NombreValid">
                    </div>
                    <div *ngIf="Nombre?.errors  && Nombre?.touched" class="mb-4">    
                      <small *ngIf="Nombre?.hasError('required')" class="error text-small"><i>Nombre de habilidad requerido.</i></small>
                    </div>

                    <div class="mb-3">
                      <label for="colorSkills" formControlName="colorSkills" class="col-12"><i>Color de la barra</i></label>
                      <select formControlName="colorId" id="colorId" class="mb-3" [class.border-danger]="ColorValid">
                        <option selected>Seleccionar color de la habilidad</option>
                        <option *ngFor="let id of color">{{id.color}}</option>
                      </select>
                    </div>
                    <div *ngIf="Color?.errors  && Color?.touched" class="mb-4">    
                      <small *ngIf="Color?.hasError('required')" class="error text-small"><i>Color de habilidad requerida.</i></small>
                    </div>

                    <div class="mb-3">
                      <label for="porcentajeSkills" class="form-label" ><i>Porcentaje</i></label>
                      <input type="text" formControlName="porcentajeSkills" id="porcentajeSkills"  class="col-12" [class.border-danger]="PorcentValid">
                    </div>
                    <div *ngIf="Porcent?.errors  && Porcent?.touched" class="mb-4">
                      <small *ngIf="Porcent?.hasError('required')" class="error text-small"><i>Lugar de trabajo requerido.</i></small>
                      <small *ngIf="Porcent?.hasError('min')" class="error text-small"><i>El porcentaje mínimo es 0.</i></small>
                      <small *ngIf="Porcent?.hasError('max')" class="error text-small"><i>El porcentaje mínimo es 100.</i></small>
                    </div>


                </div>
                <!--cierre body del modal-->
                <div class="text-center">
                  <button type="button" class="btn" data-bs-target="#modalSkills" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                  <button type="button" class="btn" data-bs-target="#modalSkillsDelete" data-bs-toggle="modal"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                  <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                  <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" (click)="onReset()"><i class="fa-solid fa-xmark"></i></button>
                </div>
              </form>

    </div>
  </div>
</div>
  
  
  
<!--Modal SKILLS DELETE-->
<div class="modal 'fade" id="modalSkillsDelete" tabindex="-1" aria-labelledby="modalSkillsDelete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
  <!----------------------------------->
      <div class="modal-header">
        <h5 class="modal-title" id="modalSkillsDelete">Delete Skills</h5>
      </div>
  
              <form [formGroup]="skills_form" (ngSubmit)="onSubmit($event)" id="skills_formDelete">

                <div class="modal-body">
                    
                    <div class="mb-3">
                      <label for="tipoSkills" class="form-label col-12"><i>Habilidad</i></label>
                      <select formControlName="skillId" id="skillId" class="mb-3" [class.border-danger]="TipoValid">
                        <option selected>Seleccionar tipo de habilidad</option>
                        <option *ngFor="let id of tipo">{{id.tipo}}</option>
                      </select>
                    </div>
                    <div *ngIf="Tipo?.errors  && Tipo?.touched" class="mb-4">    
                      <small *ngIf="Tipo?.hasError('required')" class="error text-small"><i>Tipo de habilidad requerida.</i></small>
                    </div>

                    <div class="mb-3">
                      <label for="iconoSkills" class="form-label col-12"><i>Icono habilidad</i></label>                     
                      <input type="text" formControlName="iconoSkills" id="iconoSkills" >
                    </div>
                    <!-- <div *ngIf="Nombre?.errors  && Nombre?.touched" class="mb-4">    
                      <small *ngIf="Nombre?.hasError('required')" class="error text-small"><i>Nombre de habilidad requerido.</i></small>
                    </div> -->

                    <div class="mb-3">
                      <label for="nombreSkills" class="form-label"><i>Nombre habilidad</i></label>                     
                      <input type="text" formControlName="nombreSkills" id="nombrekills" class="col-12" [class.border-danger]="NombreValid">
                    </div>
                    <div *ngIf="Nombre?.errors  && Nombre?.touched" class="mb-4">    
                      <small *ngIf="Nombre?.hasError('required')" class="error text-small"><i>Nombre de habilidad requerido.</i></small>
                    </div>

                    <div class="mb-3">
                      <label for="colorSkills" formControlName="colorSkills" class="col-12"><i>Color de la barra</i></label>
                      <select formControlName="colorId" id="colorId" class="mb-3" [class.border-danger]="ColorValid">
                        <option selected>Seleccionar color de la habilidad</option>
                        <option *ngFor="let id of color">{{id.color}}</option>
                      </select>
                    </div>
                    <div *ngIf="Color?.errors  && Color?.touched" class="mb-4">    
                      <small *ngIf="Color?.hasError('required')" class="error text-small"><i>Color de habilidad requerida.</i></small>
                    </div>

                    <div class="mb-3">
                      <label for="porcentajeSkills" class="form-label" ><i>Porcentaje</i></label>
                      <input type="text" formControlName="porcentajeSkills" id="porcentajeSkills"  class="col-12" [class.border-danger]="PorcentValid">
                    </div>
                    <div *ngIf="Porcent?.errors  && Porcent?.touched" class="mb-4">
                      <small *ngIf="Porcent?.hasError('required')" class="error text-small"><i>Lugar de trabajo requerido.</i></small>
                      <small *ngIf="Porcent?.hasError('min')" class="error text-small"><i>El porcentaje mínimo es 0.</i></small>
                      <small *ngIf="Porcent?.hasError('max')" class="error text-small"><i>El porcentaje mínimo es 100.</i></small>
                    </div>


                </div>
                <!--cierre body del modal-->
                <div class="text-center">
                  <button type="button" class="btn" data-bs-target="#modalDesignAdd" data-bs-toggle="modal"><i class="fa-solid fa-plus"></i></button>
                  <button type="button" class="btn" data-bs-target="#modalDesign" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                  <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                  <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" (click)="onReset()"><i class="fa-solid fa-xmark"></i></button>
                </div> 
              </form>

    </div>
  </div>
</div>
  
  
  