<!---REDES-->
<!-- Modal que trae la info a editar-->
<div class="modal fade" id="modalRedes" aria-hidden="true" aria-labelledby="modalRedes" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="container mb-3" id="redes">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalRedes">Redes</h1> 
          <div class="text-end">
            <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalRedesCrud"><i class="fa-solid fa-plus"></i></button>
            <button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="reset()"><i class="fa-solid fa-xmark"></i></button>
          </div>
        </div>
        <li class="list-group-item mt-4"  *ngFor="let redes of net">

          <div class="col-12">
            <p><b>RED:   </b>     {{redes.red}} </p>
            <p><b>ICONO:   </b><i     [ngClass]="redes.icono"></i></p>
            <p><b>FONTAWESOME:   </b>     {{redes.icono}} </p>
            <p><b>LINK:   </b>     {{redes.link}} </p>
          </div>
            <div class="col-12 text-end">
              <!-- <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalRedesCrud"><i class="fa-solid fa-plus"></i></button> -->
              <button class="btn" (click)="redes.id? findRed(redes.id): null"  data-bs-toggle="modal"data-bs-target="#modalRedesCrud"><i class="fa-solid fa-pencil"></i></button>
              <button class="btn" (click)="redes.id? deleteRed(redes.id): null"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
              <!--<button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="limpiar()"><i class="fa-solid fa-xmark"></i></button>-->
            </div>
          <hr>
        </li>
      </div>
    </div>
  </div>
</div>


<!-- Modal REDES CRUD -->
<div class="modal 'fade" id="modalRedesCrud" tabindex="-1" aria-labelledby="modalRedesCrudLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">    <!--modal-dialog modal-lg-->
    <div class="modal-content">
  <!----------------------------------->
      <div class="modal-header">
        <h5 class="modal-title" id="modalRedesCrud">Add / Edit a Network</h5> 
        <button type="btn" class="btn" (click)="reset()" data-bs-dismiss="modal"  aria-label="Close" ><i class="fa-solid fa-xmark"></i></button>
      </div>

        <div class="modal-body">
          <form [formGroup]="redes_form" >  <!--(ngSubmit)="onEnviar($event)"    agrego ngSubmit para probar CREATE para los nuevos-->

          <input type="hidden" name="" id="id">

            <div class="mb-3">
              <label for="red" class="form-label"><b>RED</b></label>
              <input type="text" formControlName="red" id="red" name="" class="form-control col-12" aria-describedby="RedHelp" [ngClass]="{'is-invalid':Red?.errors && Red?.touched, 'is-valid':!Red?.errors && Red?.touched}">
              <div *ngIf="Red?.errors && Red?.touched" class="mb-4">
                <small *ngIf="Red?.hasError('required')" class="error text-small"><i>Red requerida.</i></small>
              </div>
            </div>

            <div class="mb-3">
              <label for="icono" class="form-label"><b>ICONO</b></label>
              <input type="text" formControlName="icono" id="icono" name="" class="form-control col-12" aria-describedby="IconoHelp" [ngClass]="{'is-invalid':Icono?.errors && Icono?.touched, 'is-valid':!Icono?.errors && Icono?.touched}">
              <div *ngIf="Icono?.errors && Icono?.touched" class="mb-4">
                <small *ngIf="Icono?.hasError('required')" class="error text-small"><i>Icono requerido.</i></small>
              </div>
            </div>

            <div class="mb-3">
              <label for="link" class="form-label"><b>LINK</b></label>
              <input type="url" formControlName="link" id="link" name="" class="form-control col-12" aria-describedBy="linkHelp" [ngClass]="{'is-invalid':Link?.errors && Link?.touched,'is-valid':!Link?.errors && Link?.touched}">                          
              <div *ngIf="Link?.errors  && Link?.touched" class="mb-4">    
                <small *ngIf="Link?.hasError('required')" class="error text-small"><i>Link requerido.</i></small>
                <!--<small *ngIf="Link?.hasError('pattern')" class="error text-small"><i>Debe ser un formato válido.</i></small>-->
              </div>
            </div>

            <input type="hidden" name="" id="id">
            <div class="text-end">           
              <!--<button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>-->
              <button type="btn" class="btn" data-bs-dismiss="modal" (click)="saveRed()" [disabled]="redes_form.invalid" style="border:none"><i class="fa-solid fa-circle-check"></i></button>
              <!--<button type="btn" class="btn" (click)="reset()" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>-->
              <button class="btn" (click)="back()" data-bs-toggle="modal"data-bs-target="#modalRedes"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
          </form>
        </div>

    </div>
  </div>
</div>



