<!---DESIGN-->
<!-- Modal que trae la info a editar-->
<div class="modal fade" id="modalDesign" aria-hidden="true" aria-labelledby="modalDesign" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalDesign">Design</h1> 
        <div class="text-end">
          <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalDesignCrud"><i class="fa-solid fa-plus"></i></button>
          <button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="reset()"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>

      <div class="modal-body">
          <div class="container mb-3" >
            <li class="list-group-item mt-4" *ngFor="let design of expeDes">
              <div class="col-12">
                <p><b>CARGO:   </b>     {{design.cargo}} </p>
                <p><b>INICIO:   </b>     {{design.inicio}} </p>  
                <p><b>FIN:   </b>     {{design.fin}}</p>
                <p><b>LUGAR:   </b>     {{design.lugar}} </p>
                <p><b>DESCRIPCION:   </b>     {{design.descripcion}} </p>
              </div>

              <div class="col-12 text-end">
                <!-- <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalDesignCrud"><i class="fa-solid fa-plus"></i></button> -->
                <button class="btn" (click)="design.id? findExpeDesign(design.id): null"  data-bs-toggle="modal"data-bs-target="#modalDesignCrud"><i class="fa-solid fa-pencil"></i></button>
                <button class="btn" (click)="design.id? deleteExpeDesign(design.id): null"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                <!--<button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="limpiar()"><i class="fa-solid fa-xmark"></i></button>-->
              </div>
              <hr>
            </li>
          </div>     
      </div>
    </div>
  </div>
</div>



<!--Modal DESIGN CRUD-->
<div class="modal 'fade" id="modalDesignCrud" tabindex="-1" aria-labelledby="modalDesignCrud" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">    <!--modal-dialog modal-lg-->
    <div class="modal-content">
  <!----------------------------------->
      <div class="modal-header">
        <h5 class="modal-title" id="modalDesignCrud">Add / Edit a Design Experience</h5> 
        <button type="btn" class="btn" (click)="reset()" data-bs-dismiss="modal"  aria-label="Close" ><i class="fa-solid fa-xmark"></i></button>
      </div>

        <div class="modal-body">
          <form [formGroup]="design_form">

          <input type="hidden" name="" id="id">

            <div class="mb-3">
              <label for="cargo" class="form-label"><b>CARGO</b></label>
              <input type="text" formControlName="cargo" id="cargo" name="" class="form-control col-12" aria-describedby="CargoHelp" [ngClass]="{'is-invalid':Cargo?.errors && Cargo?.touched,'is-valid':!Cargo?.errors && Cargo?.touched}">
              <div *ngIf="Cargo?.errors  && Cargo?.touched" class="mb-4">
                <small *ngIf="Cargo?.hasError('required')" class="error text-small"><i>Cargo requerido.</i></small>
              </div>
            </div>
                                       
            <div class="mb-3">
              <label for="inicio" class="form-label"><b>INICIO</b></label>
              <input type="text" formControlName="inicio" id="inicio" name="" class="form-control col-12" aria-describedby="InicioHelp" [ngClass]="{'is-invalid':Inicio?.errors && Inicio?.touched,'is-valid':!Inicio?.errors && Inicio?.touched}">
              <div *ngIf="Inicio?.errors  && Inicio?.touched" class="mb-4">
                <small *ngIf="Inicio?.hasError('required')" class="error text-small"><i>Inicio requerido.</i></small>
              </div>
            </div>
        
            <div class="mb-3">
              <label for="fin" class="form-label"><b>FIN</b></label>
              <input type="text" formControlName="fin" id="fin" name="" class="form-control col-12" aria-describedby="FinHelp" [ngClass]="{'is-invalid':Fin?.errors && Fin?.touched,'is-valid':!Fin?.errors && Fin?.touched}">
              <div *ngIf="Fin?.errors  && Fin?.touched" class="mb-4">
                <small *ngIf="Fin?.hasError('required')" class="error text-small"><i>Fin requerido.</i></small>
              </div>
            </div>
        
            <div class="mb-3">
              <label for="lugar" class="form-label"><b>LUGAR</b></label>
              <input type="text" formControlName="lugar" id="lugar" name="" class="form-control col-12" aria-describedby="LugarHelp" [ngClass]="{'is-invalid':Lugar?.errors && Lugar?.touched,'is-valid':!Lugar?.errors && Lugar?.touched}">
              <div *ngIf="Lugar?.errors  && Lugar?.touched" class="mb-4">
                <small *ngIf="Lugar?.hasError('required')" class="error text-small"><i>Lugar requerido.</i></small>
              </div>
            </div>
        
            <div class="mb-3">
              <label for="descripcion" class="form-label"><b>DESCRIPCION</b></label>
              <textarea class="text w-100" formControlName="descripcion" id="descripcion" name="" [ngClass]="{'is-invalid':Descripcion?.errors && Descripcion?.touched,'is-valid':!Descripcion?.errors && Descripcion?.touched}" 
              style="overflow:auto;" rows="7" aria-describedby="descripcionHelp"></textarea>
              <div *ngIf="Descripcion?.errors  && Descripcion?.touched" class="mb-4">    
                <small *ngIf="Descripcion?.hasError('required')" class="error text-small"><i>Texto requerido.</i></small>
                <small *ngIf="Descripcion?.hasError('minlength')" class="error text-small"><i>Debe tener un mínimo de 6 caracteres.</i></small>
              </div>
            </div>
        
            <div class="text-end">           
              <!--<button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>-->
              <button type="btn" class="btn" data-bs-dismiss="modal" (click)="saveExpeDesign()" [disabled]="design_form.invalid" style="border:none"><i class="fa-solid fa-circle-check"></i></button>
              <!--<button type="btn" class="btn" (click)="reset()" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>-->
              <button class="btn" (click)="back()" data-bs-toggle="modal"data-bs-target="#modalDesign"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
          </form>
        </div>
        
    </div>
  </div>
</div>
 