  <!---NAVBAR PRINCIPAL fijo arriba-->
  <nav class="navbar menu navbar-expand-md">
    <div class="container-fluid">

      <!--logo Argentina Programa a la izquierda-->
      <a class="navbar-brand"><app-logoap></app-logoap> </a>
      
      <!--navbar adicional de secciones DENTRO del navbar principal-->
      <!-- <div class="nav nav-pills flex-column">
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" routerLink="#aboutme"><b>About me</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><b> | </b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Teaching experience</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><b> | </b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Graphic designer experience</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><b> | </b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Education</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><b> | </b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Hard & Soft skills</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><b> | </b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><b>Projects</b></a>
          </li>
        </ul>
      </div> -->
      
      <!-- button colapsable -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav" 
      aria-controls="menuNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-ellipsis"></i>
      </button>
      <!--cierre colapsable-->

      <!-- iconos colapsables -->
      <div class="collapse navbar-collapse" id="menuNav">
        <!--ICONOS NAVBAR-->
        <ul class="list-group list-group-horizontal ms-auto">
          <app-home></app-home>
          <app-redes></app-redes>
          <app-contact></app-contact>
          <!--<app-resume></app-resume>-->
          <!-- <app-login></app-login> -->
          <li class="list-group-item">
            <a routerLink="/login"><i class="fa-solid fa-door-open fa-xl" type="button"></i></a>
          </li>
        </ul> 
      </div>

    </div>
  </nav>

<!-------------------------------------------->

<!-- NAVEGADOR SECUNDARIO flotante izquierda -->
<!-- <div class="dropdown"> -->
          <!--   <button type="button" class="dropbtn"><i class="fa-solid fa-chevron-right"></i></button> -->
  <!-- <div class="dropdown-content">
    <nav class="flotante scroll mt-5"> 
      <ul>
        <li class="lateral">
          <a routerLink="/index#aboutme"><b>ABOUT ME</b></a>
        </li>
        <li class="lateral">
          <a href="#teaching"><b>TEACHING</b></a>
        </li>
        <li class="lateral">
          <a href="#design"><b>DESIGN</b></a>
        </li>
        <li class="lateral">
          <a href="#education"><b>EDUCATION</b></a>
        </li>
        <li class="lateral">
          <a href="#skills"><b>SKILLS</b></a>
        </li>
        <li class="lateral">
          <a href="#projects"><b>PROJECTS</b></a>
        </li>
      </ul>
    </nav>
  </div>
</div> -->
