/*--- NAVBAR PRINCIPAL---*/
nav.menu{
    position:fixed;
        top:0;
    width:100%;
    z-index:1200;
    background-color: #fff;
    box-shadow: 0.063rem 0.375rem 0.875rem 0.152rem #69014bbf;
    -webkit-box-shadow: 0.063rem 0.375rem 0.875rem 0.152rem #af014bbf;
    -moz-box-shadow: 0.063rem 0.375rem 0.875rem 0.152rem #af014bbf;
    -ms-box-shadow: 0.063rem 0.375rem 0.875rem 0.152rem #af014bbf;
}

.nav-link{
  text-decoration: none;
  color:#d9d5d5 !important;
}

.list-group-item {
  position: relative;
  display: block;
  /* padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x); */
  /*color: var(--bs-list-group-color);*/
  color: #505050;
  /* text-decoration: none; */
  background-color: var(--bs-list-group-bg);
  /* border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); */
  border:none;
}

a, a:hover{
  text-decoration: none;
  border: none;
}
  /*--ICONOS NAVBAR--*/
  .fa-brands.fa-linkedin:hover,
  .fa-solid.fa-house:hover,
  .fa-brands.fa-github:hover,
  .fa-solid.fa-comment:hover,
  .fa-solid.fa-door-open:hover,
  .fa-solid.fa-user:hover,
  .fa-solid.fa-right-to-bracket:hover{
    color: #f7a61a;
  }

.navbar-toggler{
  text-decoration: none;
  border:none;
}

/*---MENU-SECUNDARIO SECCIONES---*/
::-webkit-scrollbar {
  display: none;
}
.flotante{
  float:left;
  position:fixed;
}
.lateral{
  display: block;
  margin: 0;
  padding: 3rem 0;
  transform: rotateZ(-90deg)
}

.scroll{
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
  margin: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}
