  <!---NAVBAR PRINCIPAL fijo arriba-->
  <nav class="navbar menu navbar-expand-md">
    <div class="container-fluid">

      <!--logo Argentina Programa a la izquierda-->
      <a class="navbar-brand"><app-logoap></app-logoap> </a>
      
      <!-- button colapsable -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuNav" 
      aria-controls="menuNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-ellipsis"></i>
      </button>
      <!--cierre colapsable-->

      <!-- iconos colapsables -->
      <div class="collapse navbar-collapse" id="menuNav">
        <!--ICONOS NAVBAR-->
        <ul class="list-group list-group-horizontal ms-auto">
          <app-home></app-home>
          <app-redes></app-redes>
          <app-contact></app-contact>
          <!--<app-resume></app-resume>-->
          <!-- <app-login></app-login> -->
          <li class="list-group-item">
            <a routerLink="/login"><i class="fa-solid fa-door-open fa-xl" type="button"></i></a>
          </li>
        </ul> 
      </div>

    </div>
  </nav>

<!-------------------------------------------->

