<!---EXPERIENCIA TEACHING-->
<div class="container caja justify-content-center">
  <h3 class="titulo-centrado">{{ titulo }}</h3>
    <div class="row justify-content-center"  *ngFor="let teach of experience" [ngSwitch]="teach.expe_tipo">
      <div class="col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3"> 
        <div *ngSwitchCase="'Teaching'">  
          <strong>{{teach.cargo}}</strong>
            <div class="row">
              <p class="fechas">{{teach.inicio}} - {{teach.fin}}</p>
            </div>
        </div>
      </div>

        <div class="col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
          <div *ngSwitchCase="'Teaching'"> 
            <p><i><strong>{{teach.lugar}}</strong><br>{{teach.descripcion}}</i></p>
          </div>
        </div>
        
        <hr>
    </div>
     
</div>
