<!---DESIGN EXPERIENCE-->
<div class="container caja justify-content-center" id="design">
  <h3 class="titulo-centrado">{{ titulo }}</h3>
          
    <div class="row justify-content-center"  *ngFor="let design of expeDes">
      <div class="col col-xs-2 col-sm-6 col-md-4 col-lg-4 col-xl-3">           
        <strong>{{design.cargo}}</strong>
          <div class="row">
            <p class="fechas">{{design.inicio}} - {{design.fin}}</p>
          </div>
      </div>

      <div class="col-xs-10 col-sm-6 col-md-8 col-lg-8 col-xl-9">
          <p><i><strong>{{design.lugar}}</strong><br>{{design.descripcion}}</i></p>
      </div>
      <hr>
    </div> 
</div>