/*--NAV LATERAL DERECHO--*/

.logo-ap-admin-vertical{
  max-width: 2.3em;
}

.center {
  display: flex;
  align-items: center;
  height: 100vh;
}

.centrado-vert {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: auto;
  float:right;
  text-decoration: none;
  writing-mode: vertical;
  padding: .3rem;
  margin-right:1rem;
}

.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  /*color: var(--bs-list-group-color);*/
  color: #505050;
  /* text-decoration: none; */
  background-color: var(--bs-list-group-bg);
  /* border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); */
  border:none;
}