<!--Modal ABOUT ME-->
<div class="modal fade" id="modalAboutme" tabindex="-1" aria-labelledby="modalAboutme" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalAboutme">Edit About me</h5>
      </div>

              <form  [formGroup]="aboutme_form" (ngSubmit)="onSubmit($event)" id="aboutme_form">
                <div class="modal-body">
                  
                      <div class="mb-3">
                        <label for="aboutmeImagen" class="form-label"><i>Imagen personal</i></label>
                        <input type="file" formControlName="aboutmeImagen" id="aboutmeImagen" class="col-12" [class.border-danger]="ImagenInvalid" aria-describedby="aboutmeImagenHelp">
                        <!-- <div *ngIf="Imagen?.errors  && Imagen?.touched" class="mb-4">
                          <small *ngIf="Imagen?.hasError('required')" class="error text-small"><i>Imagen requerida.</i></small>
                        </div> -->
                      </div>

                      <div class="mb-3">
                        <label for="aboutmeTexto" class="form-label"><i>Algo más sobre mí</i></label>
                        <textarea class="text w-100" formControlName="texto" id="aboutmeTexto" style="overflow:auto;" rows="7" [class.border-danger]="TextoInvalid" aria-describedby="aboutmeTextoHelp"></textarea>
                        <!-- <div *ngIf="Texto?.errors  && Texto?.touched" class="mb-4">    
                          <small *ngIf="Texto?.hasError('required')" class="error text-small"><i>Texto requerido.</i></small>
                          <small *ngIf="Texto?.hasError('minlength')" class="error text-small"><i>Debe tener un mínimo de 6 caracteres.</i></small>
                        </div> -->
                      </div>

                      <div class="text-end">
                       <!--  <button type="button" class="btn" data-bs-target="#modalAboutmeDelete" data-bs-toggle="modal"><i class="fa-solid fa-trash-can-arrow-up"></i></button> -->
                        <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                        <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Close" (click)="onReset()"><i class="fa-solid fa-xmark"></i></button>
                        </div>

                </div>
              </form>

    </div>
  </div>
</div>



<!--Modal ABOUT ME DELETE-->
<!-- <div class="modal fade" id="modalAboutmeDelete" tabindex="-1" aria-labelledby="modalAboutmeDelete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalAboutmeDelete">Delete About me</h5>
      </div>

              <form  [formGroup]="aboutme_form" (ngSubmit)="onSubmit($event)">
                <div class="modal-body">
                  
                      <div class="mb-3">
                        <label for="aboutmeImagen" class="form-label"><i>Imagen personal</i></label>
                        <input type="file" formControlName="aboutmeImagen" id="aboutmeImagen" class="col-12" [class.border-danger]="ImagenInvalid" aria-describedby="aboutmeImagenHelp">
                        <div *ngIf="Imagen?.errors  && Imagen?.touched" class="mb-4">
                          <small *ngIf="Imagen?.hasError('required')" class="error text-small"><i>Imagen requerida.</i></small>
                        </div>
                      </div>

                      <div class="mb-3">
                        <label for="aboutmeTexto" class="form-label"><i>Algo más sobre mí</i></label>
                        <textarea class="text w-100" formControlName="texto"id="aboutmeTexto" style="overflow:auto;" rows="7" [class.border-danger]="TextoInvalid" aria-describedby="aboutmeTextoHelp"></textarea>
                        <div *ngIf="Texto?.errors  && Texto?.touched" class="mb-4">    
                          <small *ngIf="Texto?.hasError('required')" class="error text-small"><i>Texto requerido.</i></small>
                          <small *ngIf="Texto?.hasError('minlength')" class="error text-small"><i>Debe tener un mínimo de 6 caracteres.</i></small>
                        </div>
                      </div>

                      <div class="text-end">
                        <button type="button" class="btn" data-bs-target="#modalAboutme" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                        <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                        <button type="button" class="btn" data-bs-dismiss="modal"  aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                        </div>

                </div>
              </form>

    </div>
  </div>
</div> -->