<!---ABOUT ME-->
<!-- Modal que trae la info a editar-->
<div class="modal fade" id="modalAboutme" aria-hidden="true" aria-labelledby="modalAboutme" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAboutme">About me</h1> 
        <div class="text-end">
          <!-- <button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalAboutmeCrud"><i class="fa-solid fa-plus"></i></button> -->
          <button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="reset()"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </div>
      <!-- Modal que muestra info -->
      <div class="modal-body">
          <div class="container mb-3" >
              <li class="list-group-item mt-4" *ngFor="let about of acerca">
                      <div class="col-12">
                        <img class="rounded-circle img-fluid" [src]="about.foto"  alt="Karin">
                        <p><b>SALUDO A:</b>     {{ about.saludoA }}</p>
                        <p><b>SALUDO B:</b>     {{ about.saludoB }}</p>
                        <p><b>SALUDO C:</b>     {{ about.saludoC }}</p>
                        <p><b>SALUDO D:</b>     {{ about.saludoD }}</p>
                        <p><b>SALUDO E:</b>     {{ about.saludoE }}</p>
                        <p><b>SALUDO F:</b>     {{ about.saludoF }}</p>
                        <p><b>SALUDO G:</b>     {{ about.saludoG }}</p>
                      </div>
                      <div class="col-12 text-end">
                        <!--<button type="btn" class="btn" data-bs-toggle="modal" data-bs-target="#modalPortadaCrud"><i class="fa-solid fa-plus"></i></button>-->
                        <button class="btn" (click)="about.id? findAbout(about.id): null"  data-bs-toggle="modal"data-bs-target="#modalAboutmeCrud"><i class="fa-solid fa-pencil"></i></button>
                        <!--<button class="btn" (click)="perso.id? borrarPersona(perso.id): null"><i class="fa-solid fa-trash-can-arrow-up"></i></button>-->
                        <!--<button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="limpiar()"><i class="fa-solid fa-xmark"></i></button>-->
                      </div>
                  <hr>
              </li>
          </div>     
      </div>
    </div>
  </div>
</div>



<!--Modal ABOUT ME CRUD-->
<div class="modal fade" id="modalAboutmeCrud" tabindex="-1" aria-labelledby="modalAboutmeCrud" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="modalAboutmeCrudLabel">Edit About me</h5>
        <button type="btn" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="reset()"><i class="fa-solid fa-xmark"></i></button>
      </div>

        <div class="modal-body">
          <form [formGroup]="aboutme_form">

            <input type="hidden" name="" id="id">

            <div class="mb-3">
              <label for="foto" class="form-label"><b>IMAGEN PERSONAL</b></label>
              <input type="text" formControlName="foto" id="foto" [ngClass]="{'is-invalid':Foto?.errors && Foto?.touched,'is-valid':!Foto?.errors && Foto?.touched}" 
              class="form-control col-12" aria-describedby="FotoHelp">
              <div *ngIf="Foto?.errors  && Foto?.touched" class="mb-4">
                <p *ngIf="Foto?.hasError('required')" class="error text-small"><i>Imagen requerida.</i></p>
              </div>
            </div>

            <div class="mb-3">
              <label for="saludoA" class="form-label"><b>ALGO MAS SOBRE MI</b></label>
              <textarea type="text" class="form-control" formControlName="saludoA" id="saludoA" name="" [ngClass]="{'is-invalid':SaludoA?.errors && SaludoA?.touched,'is-valid':!SaludoA?.errors && SaludoA?.touched}" 
              aria-describedby="saludoAHelp"></textarea>
              <div *ngIf="SaludoA?.errors  && SaludoA?.touched" class="mb-4">    
                <p *ngIf="SaludoA?.hasError('required')" class="error text-small"><i>Texto requerido.</i></p>
                <p *ngIf="SaludoA?.errors?.['minlength']" class="error text-small"><i>Debe tener un mínimo de 6 caracteres.</i></p>
              </div>
            </div>

            <div class="mb-3">
              <label for="saludoB" class="form-label"><b>SALUDO B</b></label>
              <textarea type="text" class="form-control" formControlName="saludoB" id="saludoB" name="" [ngClass]="{'is-invalid':SaludoB?.errors && SaludoB?.touched,'is-valid':!SaludoB?.errors && SaludoB?.touched}" 
              aria-describedby="saludoBHelp"></textarea>
              <div *ngIf="SaludoB?.errors  && SaludoB?.touched" class="mb-4">    
                <p *ngIf="SaludoB?.hasError('required')" class="error text-small"><i>Texto requerido.</i></p>
                <p *ngIf="SaludoB?.errors?.['minlength']" class="error text-small"><i>Debe tener un mínimo de 6 caracteres.</i></p>
              </div>
            </div>

            <div class="mb-3">
              <label for="saludoC" class="form-label"><b>SALUDO C</b></label>
              <input type="text" formControlName="saludoC" id="saludoC" class="form-control col-12" aria-describedby="saludoCHelp">
            </div>

            <div class="mb-3">
              <label for="saludoD" class="form-label"><b>SALUDO D</b></label>
              <input type="text" formControlName="saludoD" id="saludoD" class="form-control col-12" aria-describedby="saludoDHelp">
            </div>

            <div class="mb-3">
              <label for="saludoE" class="form-label"><b>SALUDO E</b></label>
              <input type="text" formControlName="saludoE" id="saludoE" class="form-control col-12" aria-describedby="saludoEHelp">
            </div>

            <div class="mb-3">
              <label for="saludoF" class="form-label"><b>SALUDO F</b></label>
              <input type="text" formControlName="saludoF" id="saludoF" class="form-control col-12" aria-describedby="saludoFHelp">
            </div>

            <div class="mb-3">
              <label for="saludoG" class="form-label"><b>SALUDO G</b></label>
              <input type="text" formControlName="saludoG" id="saludoG" class="form-control col-12" aria-describedby="saludoGHelp">
            </div>

            <div class="text-end">           
              <!--<button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>-->
              <button type="btn" class="btn" data-bs-dismiss="modal" (click)="saveAbout()" [disabled]="aboutme_form.invalid" style="border:none"><i class="fa-solid fa-circle-check"></i></button>
              <!--<button type="btn" class="btn" (click)="limpiar()" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>-->
              <button class="btn" (click)="back()" data-bs-toggle="modal"data-bs-target="#modalAboutme"><i class="fa-solid fa-chevron-left"></i></button>
            </div>
  
          </form>
        </div>
    </div>
  </div>
</div>