/*---LOGIN---*/
.login{
  /* margin: 5rem auto; */
  margin: 15% auto;
  width: 50%;
  padding: 2.5%;
  background: white;
  border-radius:0rem 1.875rem 0rem 1.875rem;
  box-shadow: 0.063rem 0.375rem 0.875rem 0.125rem #69014bbf;
  -webkit-box-shadow: 0.063rem 0.375rem 0.875rem 0.125rem #af014bbf;
  -moz-box-shadow: 0.063rem 0.375rem 0.875rem 0.125rem #af014bbf;
}

input::placeholder{
  font-style: italic;
  font-size: .9em;
}

.list-group-item {
  position: relative;
  display: block;
  padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
  /*color: var(--bs-list-group-color);*/
  color: #505050;
  /* text-decoration: none; */
  background-color: var(--bs-list-group-bg);
  /* border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color); */
  border:none;
}

/*--formularios--*/
input::placeholder{
  font-style: italic;
  font-size: .9em;
}

.txt-small{
  margin-bottom: 1.3rem;
}