<!---ABOUT ME-->
<div class="container caja bio arriba" id="home">
  <h3 class="titulo-centrado">{{ titulo }}</h3>
 
  <div class="row justify-content-center" *ngFor="let about of acerca">
    <div class="bio-image-col col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
      <img class="rounded-circle img-fluid" [src]="about.foto"  alt="Karin">
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8 col-xl-9 mt-3">
    <p><i>
      {{ about.saludoA }}<br>
      {{ about.saludoB }}<br>
      {{ about.saludoC }} <strong>{{about.saludoD}}</strong><br>
      {{ about.saludoE }}<br>
      {{ about.saludoF }}<br>
      {{ about.saludoG }}
  </i></p>
  </div>
  </div>
</div>