<!--Modal TEACHING EDIT-->
<div class="modal 'fade" id="modalTeaching" tabindex="-1" aria-labelledby="modalTeaching" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
  <!----------------------------------->
      <div class="modal-header">
        <h5 class="modal-title" id="modalTeaching">Edit Teaching Experience</h5>
      </div>
  
              <form [formGroup]="teaching_form" (ngSubmit)="onSubmit($event)" id="teaching_form">

                <div class="modal-body">
                  
                  <div class="mb-3">
                    <label for="teachingLugar" class="form-label col-12"><i>Elegir experiencia</i></label>
                    <select formControlName="teachingId" id="teachingId" class="mb-3">
                      <option selected>Seleccionar Teaching Experience</option>
                      <option *ngFor="let id of lugar">{{id.lugar}}</option>
                    </select>
                  </div>
                  <div *ngIf="Lugar?.errors  && Lugar?.touched" class="mb-4">    
                    <small *ngIf="Lugar?.hasError('required')" class="error text-small"><i>Lugar de trabajo requerido.</i></small>
                  </div>

                  <div class="mb-3">
                    <label for="teachingLugar" class="form-label"><i>Lugar</i></label>
                    <input type="text" formControlName="teachingLugar" id="teachingLugar" class="col-12" [class.border-danger]="LugarValid" aria-describedby="teachingLugarHelp">
                  </div>
                  <div *ngIf="Lugar?.errors  && Lugar?.touched" class="mb-4">    
                    <small *ngIf="Lugar?.hasError('required')" class="error text-small"><i>Lugar de trabajo requerido.</i></small>
                  </div>

                  <div class="mb-3">
                    <label for="teachingAnioInicio" class="form-label"><i>Inicio</i></label>
                    <input type="text" formControlName="teachingAnioInicio" id="teachingAnioInicio" class="col-12" [class.border-danger]="AnioInicioValid" aria-describedby="teachingAnioInicioHelp">
                  </div>
                  <div *ngIf="AnioInicio?.errors  && AnioInicio?.touched" class="mb-4">    
                    <small *ngIf="AnioInicio?.hasError('required')" class="error text-small"><i>Año inicio requerido.</i></small>
                    <!--<small *ngIf="AnioInicio?.hasError('text')" class="error text-small"><i>El formato debe ser válido.</i></small> -->
                  </div>

                  <div class="mb-3">
                    <label for="teachingAnioFin" class="form-label"><i>Inicio</i></label>
                    <input type="text" formControlName="teachingAnioFin" id="teachingAnioFin" class="col-12" [class.border-danger]="AnioFinValid" aria-describedby="teachingAnioFinHelp">
                  </div>
                  <div *ngIf="AnioFin?.errors  && AnioFin?.touched" class="mb-4">    
                    <small *ngIf="AnioFin?.hasError('required')" class="error text-small"><i>Año fin requerido.</i></small>
                    <!-- <small *ngIf="AnioFin?.hasError('text')" class="error text-small"><i>El formato debe ser válido.</i></small> -->
                  </div>


                  <div class="mb-3">
                    <label for="teachingDescripcion" class="form-label"><i>Descripción</i></label>
                    <textarea class="text w-100" id="teachingDescripcion" style="overflow:auto;" rows="7"></textarea>
                  </div>
                  <div *ngIf="Descrip?.errors  && Descrip?.touched" class="mb-4">    
                    <small *ngIf="Descrip?.hasError('required')" class="error text-small"><i>Completar descripción.</i></small>
                  </div>
                </div>
                <!--cierre body del modal-->
                <div class="text-center">
                  <button type="button" class="btn" data-bs-target="#modalTeachingAdd" data-bs-toggle="modal"><i class="fa-solid fa-plus"></i></button>
                  <button type="button" class="btn" data-bs-target="#modalTeachingDelete" data-bs-toggle="modal"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                  <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                  <button type="button" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="onReset()"><i class="fa-solid fa-xmark"></i></button>
                </div>
              
              </form>

    </div>
  </div>
</div>
  


<!--Modal DESIGN ADD-->
<div class="modal 'fade" id="modalTeachingAdd" tabindex="-1" aria-labelledby="modalTeachingAdd" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
  <!----------------------------------->
      <div class="modal-header">
        <h5 class="modal-title" id="modalTeachingAdd">Add Teaching Experience</h5>
      </div>
  
              <form [formGroup]="teaching_form" (ngSubmit)="onSubmit($event)" id="teaching_formAdd">

                <div class="modal-body">
                  
                  <div class="mb-3">
                    <label for="teachingLugar" class="form-label"><i>Lugar</i></label>
                    <input type="text" formControlName="teachingLugar" id="teachingLugar" class="col-12" [class.border-danger]="LugarValid" aria-describedby="teachingLugarHelp">
                  </div>
                  <div *ngIf="Lugar?.errors  && Lugar?.touched" class="mb-4">    
                    <small *ngIf="Lugar?.hasError('required')" class="error text-small"><i>Año requerido.</i></small>
                  </div>

                  <div class="mb-3">
                    <label for="teachingAnioInicio" class="form-label"><i>Inicio</i></label>
                    <input type="text" formControlName="teachingAnioInicio" id="teachingAnioInicio" class="col-12" [class.border-danger]="AnioInicioValid" aria-describedby="teachingAnioInicioHelp">
                  </div>
                  <div *ngIf="AnioInicio?.errors  && AnioInicio?.touched" class="mb-4">    
                    <small *ngIf="AnioInicio?.hasError('required')" class="error text-small"><i>Año requerido.</i></small>
                    <!--<small *ngIf="AnioInicio?.hasError('text')" class="error text-small"><i>El formato debe ser válido.</i></small> -->
                  </div>

                  <div class="mb-3">
                    <label for="teachingAnioFin" class="form-label"><i>Inicio</i></label>
                    <input type="text" formControlName="teachingAnioFin" id="teachingAnioFin" class="col-12" [class.border-danger]="AnioFinValid" aria-describedby="teachingAnioFinHelp">
                  </div>
                  <div *ngIf="AnioFin?.errors  && AnioFin?.touched" class="mb-4">    
                    <small *ngIf="AnioFin?.hasError('required')" class="error text-small"><i>Año requerido.</i></small>
                    <!-- <small *ngIf="AnioFin?.hasError('text')" class="error text-small"><i>El formato debe ser válido.</i></small> -->
                  </div>

                  <div class="mb-3">
                    <label for="teachingDescripcion" class="form-label"><i>Descripción</i></label>
                    <textarea class="text w-100" id="teachingDescripcion" style="overflow:auto;" rows="7"></textarea>
                  </div>
                  <div *ngIf="Descrip?.errors  && Descrip?.touched" class="mb-4">    
                    <small *ngIf="Descrip?.hasError('required')" class="error text-small"><i>Completar descripción.</i></small>
                  </div>
                </div>
                <!--cierre body del modal-->
                <div class="text-center">
                  <button type="button" class="btn" data-bs-target="#modalTeaching" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                  <button type="button" class="btn" data-bs-target="#modalTeachingDelete" data-bs-toggle="modal"><i class="fa-solid fa-trash-can-arrow-up"></i></button>
                  <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                  <button type="button" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="onReset()"><i class="fa-solid fa-xmark"></i></button>
                </div> 
              
              </form>

    </div>
  </div>
</div>
  
  

<!--Modal DESIGN-->
<div class="modal 'fade" id="modalTeachingDelete" tabindex="-1" aria-labelledby="modalTeachingDelete" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
  <!----------------------------------->
      <div class="modal-header">
        <h5 class="modal-title" id="modalTeachingDelete">Delete Teaching Experience</h5>
      </div>
  
              <form [formGroup]="teaching_form" (ngSubmit)="onSubmit($event)" id="teaching_formDelete">

                <div class="modal-body">

                  <div class="mb-3">
                    <label for="teachingLugar" class="form-label col-12"><i>Elegir experiencia</i></label>
                    <select formControlName="teachingId" id="teachingId" class="mb-3">
                      <option selected>Seleccionar Teaching Experience</option>
                      <option *ngFor="let id of lugar">{{id.lugar}}</option>
                    </select>
                  </div>
                  <div *ngIf="Lugar?.errors  && Lugar?.touched" class="mb-4">    
                    <small *ngIf="Lugar?.hasError('required')" class="error text-small"><i>Lugar de trabajo requerido.</i></small>
                  </div>
                  
                  <div class="mb-3">
                    <label for="teachingLugar" class="form-label"><i>Lugar</i></label>
                    <input type="text" formControlName="teachingLugar" id="teachingLugar" class="col-12" [class.border-danger]="LugarValid" aria-describedby="teachingLugarHelp">
                  </div>
                  <div *ngIf="Lugar?.errors  && Lugar?.touched" class="mb-4">    
                    <small *ngIf="Lugar?.hasError('required')" class="error text-small"><i>Año requerido.</i></small>
                  </div>

                  <div class="mb-3">
                    <label for="teachingAnioInicio" class="form-label"><i>Inicio</i></label>
                    <input type="text" formControlName="teachingAnioInicio" id="teachingAnioInicio" class="col-12" [class.border-danger]="AnioInicioValid" aria-describedby="teachingAnioInicioHelp">
                  </div>
                  <div *ngIf="AnioInicio?.errors  && AnioInicio?.touched" class="mb-4">    
                    <small *ngIf="AnioInicio?.hasError('required')" class="error text-small"><i>Año requerido.</i></small>
                    <!--<small *ngIf="AnioInicio?.hasError('text')" class="error text-small"><i>El formato debe ser válido.</i></small> -->
                  </div>

                  <div class="mb-3">
                    <label for="teachingAnioFin" class="form-label"><i>Inicio</i></label>
                    <input type="text" formControlName="teachingAnioFin" id="teachingAnioFin" class="col-12" [class.border-danger]="AnioFinValid" aria-describedby="teachingAnioFinHelp">
                  </div>
                  <div *ngIf="AnioFin?.errors  && AnioFin?.touched" class="mb-4">    
                    <small *ngIf="AnioFin?.hasError('required')" class="error text-small"><i>Año requerido.</i></small>
                    <!-- <small *ngIf="AnioFin?.hasError('text')" class="error text-small"><i>El formato debe ser válido.</i></small> -->
                  </div>

                  <div class="mb-3">
                    <label for="teachingDescripcion" class="form-label"><i>Descripción</i></label>
                    <textarea class="text w-100" id="teachingDescripcion" style="overflow:auto;" rows="7"></textarea>
                  </div>
                  <div *ngIf="Descrip?.errors  && Descrip?.touched" class="mb-4">    
                    <small *ngIf="Descrip?.hasError('required')" class="error text-small"><i>Completar descripción.</i></small>
                  </div>
                </div>
                <!--cierre body del modal-->
                <div class="text-center">
                  <button type="button" class="btn" data-bs-target="#modalTeachingAdd" data-bs-toggle="modal"><i class="fa-solid fa-plus"></i></button>
                  <button type="button" class="btn" data-bs-target="#modalTeaching" data-bs-toggle="modal"><i class="fa-solid fa-pencil"></i></button>
                  <button type="submit" class="btn"><i class="fa-solid fa-circle-check"></i></button>
                  <button type="button" class="btn" data-bs-dismiss="modal"  aria-label="Close" (click)="onReset()"><i class="fa-solid fa-xmark"></i></button>
                </div> 
              
              </form>

    </div>
  </div>
</div>
  
  