*{
  font-family: 'PT Sans', sans-serif;
  margin: 0rem;
  padding:0rem;
  scroll-behavior: smooth;
}

*, *:before, *:after {
box-sizing: border-box;
}

:root{
--bs-link-hover-color: #505050;
--bs-link-color: #505050;
}

body{
background-image:url(assets/images/painting3.jpg);
background-position: center center;
background-repeat:no-repeat;
background-attachment: fixed;
background-size:cover;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
-ms-background-size:cover;
--opacidad-negro: 0.5;
margin-bottom: 4rem;
}

/*--ICONOS NAVBAR--*/
.logo-ap{
  max-width: 8rem;
}

.fa-brands.fa-linkedin:hover,
.fa-solid.fa-house:hover,
.fa-brands.fa-github:hover,
.fa-solid.fa-comment:hover,
.fa-solid.fa-user-lock:hover,
.fa-solid.fa-user:hover,
.fas.fa-sign-out-alt:hover,
.fa-solid.fa-file:hover,
.fa-solid.fa-eye:hover{
  color: #f7a61a;
}

/*--NAVEGACION--*/
a, a:hover{
  text-decoration: none;
}


/*--ICONOS FORMULARIOS--*/
.fa-plus:hover{
  color:#f71aa6;
}
.fa-pencil:hover{
  color:#f67010;
}
.fa-trash-can-arrow-up:hover{
  color:#ab0c0c;
}
.fa-circle-check:hover{
  color:#2c9011;
}
.fa-circle-xmark:hover{
  color:#b1b1b0;
}
.fa-solid.fa-chevron-left:hover{
  color:#54b4f5
}

.btn-form-cierre{
  margin-top: -1.2rem;
  margin-left:1rem;
  text-decoration: none;
  background-color:transparent;
  border: none;
}


/*---CONTENEDORES---*/
.caja{
  width:70%;
  margin-bottom:0.938rem;
  padding:1.25rem;
  position:relative;
  z-index:1080;
  background-color:#fff;
  border:0.125rem solid #69014b;
  border-radius:0rem 1.875rem 0rem 1.875rem;
  box-shadow: 0.063rem 0.375rem 0.875rem 0.125rem #69014bbf;
  -webkit-box-shadow: 0.063rem 0.375rem 0.875rem 0.125rem #af014bbf;
  -moz-box-shadow: 0.063rem 0.375rem 0.875rem 0.125rem #af014bbf;
}



/*---TEXTOS---*/
.titulo-centrado{
  text-align: center;
}

p{
  font-size:1em;
  text-align: justify;
}

p.texto-centrado{
  text-align:center !important;
}

p.fechas{
  font-size: .8em;
  text-align:left;
}

.modal-title{
  color:#a9a7a7;
}


/*--@media--*/
@media (max-width: 575px){
  .container.bio{
    max-width: 21.875rem;
  }
  .bio-image-col{
    max-width: 10rem;
  }
  .logo-ap{
    max-width: 6rem;
  }
  .aadmin-iconos{
    font-size:130%;
    }
  .aadmin-panel{
    max-width: 100%;
  }
  .salida{
    font-size:150%;
  }
  .peque{
    width: 80%;
  }
  .flotante{
    display: none;
  }
  
}